*,*::after,*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  justify-content: center;
}

body {
  background: linear-gradient(
    -90deg,
    rgb(159, 160, 160) 0%,
    rgb(42, 42, 46) 100%
  );
}

.page-title{
  justify-content: center !important;
  margin-left: 41vw;
  margin-top: 40px;
  text-decoration:underline;
  font-size:larger;
  font-weight:900;
  color:rgb(221, 221, 221);
}

.email{
  font-family: "Courier", monospace;
}

.card{
  padding: 0!important;
  height: 155px;
  background:linear-gradient(
    270deg,
    rgb(27, 28, 34) 30%,
    rgb(136, 136, 136) 100%
  );
  color: aliceblue;
  border-radius: 80px 0 0 80px;
}

.pages{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 15%;
}
.page-link{
  color: rgb(1, 9, 51);
  background: linear-gradient(
    90deg,
    rgb(202, 196, 202) 30%,
    rgb(75, 72, 74) 100%
  );
  font-size: larger;
  border:1px;
  padding-top: 2px;
  padding-bottom: 2px;
}